# Byte-compiled
__pycache__/
*.py[cod]

# Environments
env/
venv/
.venv/
.env/

# IDE
.idea/
.vscode/

# Video
*.mp4
*.avi
*.mov
*.mkv

# Model and results
*.pt
output/

# Documents
*.docx

# Logs
*.tmp